ion-content {
    --background: none;
  
    .background-image {
      position: relative;
      min-height: 100vh;
      width: 100%;
      background-image: url('../../assets/crear.jpg'); /* Fondo estilo mapa antiguo */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;
    }
  
    .back-button {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 1.5em;
      color: black;
      cursor: pointer;
    }
  
    .title-container {
      margin-top: 35px;
      text-align: center;
      color: #000000;
      font-size: 2em;
      font-weight: bold;
      text-shadow: 1px 1px 2px #000000;
    }
  
    .table-container {
      background: #b87e4c;/* Fondo de la tabla */
      border: 2px solid #3e1f0e; /* Borde oscuro */
      border-radius: 10px;
      padding: 15px;
      margin-top: 20px;
      width: 90%;
      max-width: 500px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
      table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        font-family: 'Papyrus', sans-serif;
  
        th, td {
          border: 1px solid #000000;
          padding: 8px;
        }
  
        th {
          background-color: #72220a;
          font-weight: bold;
          color: #000000;
        }
        
        td {
          background-color: #c58e5e;
          color: #000000;
        }
  
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #3e1f0e;
        }
      }
    }
  }
  