ion-content {
    --background: none;
    
    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('../../assets/crear.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }

    .form-container {
        border-radius: 8px;
        padding: 15px;
        width: 320px; 
        max-width: 90%; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        text-align: center;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    .form-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 8px;
    }

    ion-label {
        width: 45%; /* Ajusta el ancho del label para que todo quede alineado */
        text-align: right;
        margin-right: 10px;
    }

    .input-field, .image-input {
        width: 55%; /* Ajusta el ancho de los inputs */
        --padding-start: 8px;
        background-color: rgba(190, 65, 7, 0.804);
        color: black;
    }

    .submit-button {
        margin-top: 12px;
        width: 100%;
        --background: #5d5555;
        --color: rgb(5, 0, 0);
        border-radius: 6px;
    }
}
