ion-content {
    --background: none;
    
    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('../../assets/Fondo_Juego_Pantalla.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }

    .form-container {
        background-color: #593527; // Color de fondo del cuadro
        border: 2px solid #fff; // Borde claro alrededor del cuadro
        border-radius: 8px;
        position: relative;
        padding: 20px;
        width: 350px; 
        max-width: 90%; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        text-align: center;
    }

    h2 {
        margin-bottom: 15px;
        font-size: 1.5em;
        color: #fff;
        font-weight: bold;
    }

    .form-row {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 12px;
    }

    ion-label {
        width: 45%; 
        text-align: right;
        margin-right: 10px;
        color: #fff;
    }

    .input-field, .image-input {
        width: 55%;
        padding: 8px;
        background-color: #382420; // Color de fondo de los campos
        color: #fff; // Color del texto
        border-radius: 4px;
    }

    .submit-button {
        margin-top: 15px;
        width: 100%;
        background-color: #8B5E3C; // Color de fondo del botón
        color: #fff;
        font-weight: bold;
        border-radius: 6px;
    }
}
