<ion-content>
  <div class="container">
    <!-- Título centrado -->
    <h1 class="title">ARMOR CLASS</h1>


    <div class="center-character-info">
      <div class="character-info">
        <h2>Sebastián</h2>
        <p>EDAD: 24 ALTURA: 1.80 NIVEL: 1</p>
      </div>
    </div>

    <!-- Contenedor de estadísticas con tres columnas -->
    <div class="stats">
      <!-- Columna izquierda -->
      <div class="left-column">
        <div class="stat-block">
          <h3>BLOQUEO</h3>
          <p>Base <span>-</span></p>
          <p>Constitución <span>1</span></p>
          <p>Item <span>-</span></p>
          <p>Total <span>11</span></p>
        </div>
        <div class="stat-block">
          <h3>ESQUIVAR</h3>
          <p>Base <span>-</span></p>
          <p>Destreza <span>1</span></p>
          <p>Item <span>-</span></p>
          <p>Total <span>11</span></p>
        </div>
      </div>

      <!-- Columna central (Imagen) -->
      <div class="center-column">
        <img src="assets/Sebastián.png" alt="Logo" />
      </div>

      <!-- Columna derecha -->
      <div class="right-column">
        <div class="stat-block">
          <h3>HIT POINTS</h3>
          <p>Base <span>-</span></p>
          <p>Daño sufrido <span>-8</span></p>
          <p>Total <span>-8</span></p>
        </div>
        <div class="stat-block">
          <h3>ATAQUES</h3>
          <p>Característica <span>-1</span></p>
          <p>Items <span>-</span></p>
          <p>Habilidad <span>-</span></p>
          <p>Total <span>-1</span></p>
        </div>
      </div>
    </div>
    <div class="footer">
      <ion-button shape="round" color="grey" (click)="caracteristicas()">Características</ion-button>
      <ion-button expand="round" color="grey">SIGUIENTE</ion-button>
    </div>
  </div>
</ion-content>
