body, ion-content {
    --background: url('../../assets/Fondo_Juego_Pantalla.jpeg') no-repeat center center / cover;
  }
  
  .login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
  }
  
  .login-wrapper {
    background-color: #593527;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: #fff;
    margin-left: 33.5%;
    margin-top: 10%;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
    margin: 0 0 20px;
  }
  
  .login-card {
    background: none;
    box-shadow: none;
    
  }
  
  .input-item {
    --background: transparent;
    --border-color: #ffffff;
    margin-bottom: 15px;
  }
  
  .input-item ion-icon {
    color: #ffffff;
  }
  
  .input-item ion-input {
    color: #ffffff;
    font-size: 16px;
  }
  
  .login-button {
    --background: #5A3A31;
    --color: #ffffff;
    font-size: 16px;
  }
  
  .login-button:hover {
    --background: #764C44;
  }
  
  .create-account-button {
    --border-color: #ffffff6c;
    --color: #ffffff99;
    font-size: 16px;
    margin-top: 10px;
  }