<ion-content>
  <!-- Imagen de fondo -->
  <div class="background-image">
    <!-- Contenedor del título -->
    <div class="title-container">
      <h2>PERSONAJES</h2>
    </div>

    <!-- Cuadrícula de personajes -->
    <div class="grid-container">
      <div class="character-card">
        <img src="../../assets/Registro.jpg" alt="Mateo" />
        <div class="character-name">MATEO</div>
      </div>
      <div class="character-card">
        <img src="../../assets/crear.jpg" alt="Sebastián" />
        <div class="character-name">SEBASTIÁN</div>
      </div>
      <div class="character-card">
        <img src="../../assets/cubo_pequeño.png" alt="Cubo" />
        <div class="character-name">CUBO</div>
      </div>
      <div class="character-card">
        <img src="../../assets/fondo_master_ui.jpeg" alt="El Gordo" />
        <div class="character-name">EL GORDO</div>
      </div>
      <div class="character-card">
        <img src="../../assets/Elegir_Rol.jpg" alt="Camilo" />
        <div class="character-name">CAMILO</div>
      </div>
      <div class="character-card">
        <img src="../../assets/crear.jpg" alt="Agregar Más" />
        <div class="character-name">AGREGAR MÁS</div>
      </div>
    </div>

    <!-- Botón Siguiente -->
    <div class="button-container">
      <ion-button expand="block" class="start-button" (click)="ItemsMaster()">
        SIGUIENTE
      </ion-button>
    </div>
  </div>
</ion-content>
