<ion-content>
  <!-- Imagen de fondo -->
  <div class="login-wrapper">
    <div class="background-image">
      <div class="button-container">
        <h2 class="titulo">Elección Master</h2> 
        <ion-button expand="block" class="start-button" (click)="CrearServidor()">
          CREAR MUNDO
        </ion-button>
        <ion-button expand="block" class="start-button" (click)="Player()">
          JUGADORES
        </ion-button>
        <ion-button expand="block" class="start-button" (click)="Salir()">
          SALIR
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
