ion-content {
    --background: none;

    .background-image {
        position: fixed; 
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; 
        background-image: url('../../assets/fondo_master_ui.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        display: flex;
        align-items: center; /* Centra verticalmente */
        justify-content: center; /* Centra horizontalmente */
        z-index: -1;
    }

    .button-container {
        background: rgba(69, 65, 65, 0.742); /* Fondo gris semitransparente */
        border-radius: 10px; /* Esquinas redondeadas */
        padding: 20px; /* Espaciado interno */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
        display: flex;
        flex-direction: column; /* Coloca los botones en columna */
        align-items: center; /* Centra horizontalmente los elementos dentro del cuadro */
        justify-content: center; /* Centra verticalmente los elementos dentro del cuadro */
    }

    .start-button {
        margin-top: 10px; /* Espacio entre los botones */
        width: 200px;
        --background: #5d5555; /* Color gris sólido */
        --color: rgb(5, 0, 0); /* Color del texto */
        border-radius: 8px; /* Bordes redondeados */
        padding: 10px;
        text-align: center;
        opacity: 1;
    }

    ion-content {
        overflow: hidden; /* Evita el scroll */
    }
}
