ion-content {
    --background: none;
}

.background-image {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    background-image: url('../../assets/Fondo_Juego_Pantalla.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    z-index: -1;
}

.start-button {
    margin-top: 10px; /* Espacio entre los botones */
    width: 200px;
    --background: #5d555500; /* Color gris sólido */
    --color: rgb(255, 255, 255); /* Color del texto */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px;
    text-align: center;
    opacity: 1;
}

.login-wrapper {
    background-color: #593527;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: #fff;
}

ion-content {
    overflow: hidden; /* Evita el scroll */
}

.titulo {
    color: white;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}
