<ion-content>
  <!-- Imagen de fondo -->
  <div class="background-image">
    <div class="button-container">
      <h2 style="color: rgb(0, 0, 0); text-align: center;">Elección Master</h2> 
      <ion-button expand="block" class="start-button" (click)="CrearServidor()">
        <ion-icon name="server"></ion-icon>
        CREAR SERVIDOR
      </ion-button>
      <ion-button expand="block" class="start-button">
        <ion-icon name="folder-open"></ion-icon> 
        VER TUS SERVIDORES
      </ion-button>
    </div>
  </div>
</ion-content>
