<ion-content>
  <!-- Imagen de fondo -->
  <div class="background-image">
    <!-- Botón de regreso -->
    <div class="back-button">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>

    <!-- Título de Servidores -->
    <div class="title-container">
      <h2>SERVIDORES</h2>
    </div>

    <!-- Tabla de Servidores -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Logo</th>
            <th>Nombre del servidor</th>
            <th>Número de jugadores</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><img src="../../assets/Login.jpg" alt="Logo Servidor 1" /></td>
            <td>Servidor 1</td>
            <td>28/40</td>
          </tr>
          <tr>
            <td>2</td>
            <td><img src="../../assets/Registro.jpg" alt="Logo Servidor 2" /></td>
            <td>Servidor 2</td>
            <td>37/40</td>
          </tr>
          <tr>
            <td>3</td>
            <td><img src="../../assets/Elegir_Rol.jpg" alt="Logo Servidor 3" /></td>
            <td>Servidor 3</td>
            <td>12/40</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
