<ion-content>
  <div class="container">
    <!-- Título centrado -->
    <h1 class="title">Características</h1>

    <!-- Información del personaje -->
    <div class="center-character-info">
      <div class="character-info">
        <h2>Mateo</h2>
        <p>EDAD: 21 ALTURA: 1.71 NIVEL: 1</p>
      </div>
    </div>

    <!-- Tabla de características -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Características</th>
            <th>P.Base</th>
            <th>Bonificador</th>
            <th>B. por competencia</th>
            <th>B. por Equipo</th>
            <th>Se le suma al lado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fuerza</td>
            <td>9</td>
            <td>-1</td>
            <td>0</td>
            <td>-</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Destreza</td>
            <td>13</td>
            <td>1</td>
            <td>0</td>
            <td>-</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Constitución</td>
            <td>13</td>
            <td>1</td>
            <td>0</td>
            <td>-</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Inteligencia</td>
            <td>13</td>
            <td>1</td>
            <td>0</td>
            <td>-</td>
            <td>-1</td>
          </tr>
          <tr>
            <td>Sabiduría</td>
            <td>12</td>
            <td>1</td>
            <td>0</td>
            <td>-</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Apariencia</td>
            <td>12</td>
            <td>1</td>
            <td>0</td>
            <td>-</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Estamina</td>
            <td>11</td>
            <td>0</td>
            <td>0</td>
            <td>-</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Balance</td>
            <td>13</td>
            <td>1</td>
            <td>0</td>
            <td>-</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Resistencia</td>
            <td>12</td>
            <td>1</td>
            <td>0</td>
            <td>-</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Conocimiento</td>
            <td>13</td>
            <td>1</td>
            <td>0</td>
            <td>-</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>