ion-content {
  --background: none;

  .background-image {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/Fondo_Juego_Pantalla.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    padding-top: 240px; 
  }
  .start-button {
    margin-top: 20px;
    font-size: 30px; 
    width: 450px; 
    --background: #593527; 
    --color: white;
    border-radius: 8px; 
    padding: 10px; 
    text-align: center; 
    opacity: 1; 
}
}
