ion-content {
  --background: none;

  .background-image {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/fondo_juego_pantalla.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    padding-top: 240px; 
  }

  .start-button {
    margin-top: 20px; 
    width: 150px; 
    --background: #5d5555; 
    --color: rgb(0, 0, 0);
    border-radius: 8px; 
    padding: 10px; 
    text-align: center; 
    opacity: 1; 
}
}
