<ion-header>
 
</ion-header>

<ion-content class="ion-padding">
  <div class="background-image"></div> <!-- Fondo de la imagen -->
  <ion-title>Registro</ion-title>
  <!-- Contenedor para los botones -->
  <div class="button-container">
    <form (ngSubmit)="register()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario" name="usuario" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="contrasena" name="contrasena" required></ion-input>
      </ion-item>

      <!-- Botón para registrarse -->
      <ion-button expand="block" type="submit" class="start-button">Registrarse</ion-button>
      <!-- Botón para ir al login -->
      <ion-button expand="block" type="button" (click)="goToLogin()" class="start-button">Iniciar sesión</ion-button>
    </form>
  </div>
</ion-content>
