<ion-header></ion-header>

<ion-content class="ion-padding login-content">
  <div class="login-wrapper">
    <ion-title class="title">Crear cuenta</ion-title>
    <form (ngSubmit)="register()">
      <ion-item class="input-item">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario" name="usuario" required></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="contrasena" name="contrasena" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button">Registrarse</ion-button>
      <ion-button expand="block" type="button" (click)="goToLogin()" class="create-account-button">Iniciar sesión</ion-button>
    </form>
  </div>
</ion-content>
